body {
    background-color: black;
}

#spacer {
	height: 20px;
}
#table {
  width: 100%;

}

.letter {
	font-family: Helvetica;
	font-size: 45pt;
	border: 1px solid black;
	text-align: center;
	height: 80px;
	background-color: #F194B8;
}

.cell {
	font-family: Helvetica;
	font-size: 40pt;
	border: 1px solid black;
	text-align: center;
	height: 80px;
	background-color: #B3C7F7;
	
}
.called {
	background-color: #00B4C5;
}
.lastcalled {
	background-color: #C44601;
	color: white;
}
#clear {
	background-color: blue;
	color:white;
	font-size:12pt;
	padding:5px;
	border-radius: 2px;
}
#clear:hover {
	background-color: red;
}
#lastNumber {
	font-family: Helvetica;
	color:white;
	text-align: center;
	font-size: 300pt;
}